@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Tiro+Devanagari+Hindi&display=swap');

html {
	--color-ivory: #EDE7DC;
	--color-sand-dollar: #DCD2CC;
	--color-dusty-rose: #CCAFA5;
	--color-gray: #BDC3CB;
	--color-oxford-blue: #0e1428;
	--color-space-cadet: #151e3c;
	--bg-color: var(--color-ivory);
	--text-color: var(--color-space-cadet);
	--font-script: 'Courgette', cursive;
	--font-serif: 'Tiro Devanagari Hindi', serif;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: var(--font-serif);
	margin: 0;
	padding: 0;
}